@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Graphik", sans-serif;
    font-weight: 400;
    src: url("../assets/font/GraphikM.woff");
}

:root {
    font-family: "Graphik", sans-serif;
}

header {
    position: relative;
}

header:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #ccc;
}

.header-fonts {
    list-style: none;
    display: flex;
}

.header-font {
    font-size: 15px;
    color: #000;
    width: 400px;
    text-decoration: none;
    margin: 0 47px;


}

.header-section-font {
    display: flex;
    align-items: center;
}

.wrapper {
    padding: 0 30px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;
}

.template-button {
    padding: 10px 25px;
    border: 1px solid #000;
    background: none;
    font-weight: 600;
    outline: none;
    transition: .4s;
    cursor: pointer;
    margin: 0 10px;
}

.template-button:hover {
    background: #FF6336;
    color: white;
    border: 1px solid #FF6336;

}

.header-section-button {
    display: flex;

}

.delivery-main {
    display: flex;
    height: 800px;
    align-items: center;
    justify-content: center;
}

.delivery-title-container h1 {
    max-width: 552px;
    font-size: 65px;
}

.delivery-description-container {
    margin-top: 51px;
}

.delivery-description-container p {
    max-width: 471px;
    font-size: 25px;

}

.delivery-credit-container {

    font-size: 15px;
}

.delivery-buttons-container {

    margin: 50px 0 25px 0;
    display: flex;
}

.delivery-buttons-container button {
    padding: 20px 35px;
}

.delivery-buttons-container button:first-child {
    margin-left: 0;
}

.companies-text {
    text-align: center;
    text-align-last: center;
    max-width: 1000px;
    font-size: 50px;
}

.companies-container-logo {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-top: 80px;

}

.companies-container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companies-section {
    background: #FF9C7D;
}

.companies-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;

}

.localization-market-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 90px 100px 240px 100px;
}

.localization-title h2 {
    font-size: 50px;
    max-width: 493px;
}

.localization-description-text p {
    font-size: 20px;
    max-width: 460px;
}

.text-decoration {
    position: relative;
    cursor: pointer;

}

.text-decoration:after {
    position: absolute;
    content: " ";
    background: black;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
}

.localization-description button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.localization-market-block-img {
    width: 632px;
    height: 632px;
}

.localization-description-text {
    margin: 30px 0;
    line-height: 30px;
}

.localization-market-block:nth-child(even) .localization-market-block-img {
    order: -1;
}

.localization-description-quality p {
    max-width: 520px;
}

.localization-description-developers p {
    max-width: 520px;

}

.tech-section {
    background: #FFF8E4;

}

.tech-title-container {
    display: flex;
    justify-content: center;
}

.tech-title {
    font-size: 50px;
}

.tech {
    padding-top: 120px;
}

.tech-blocks-container {
    display: flex;
    justify-content: center;
    margin-top: 79px;
}

.tech-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;

}

.tech-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech-block {
    width: 350px;
    /*text-align-last: center;*/
    text-align: center;
    margin: 40px;
}

.tech-block-description {
    max-width: 300px;
    line-height: 25px;
    text-align: center;

}

.tech-block-web {
    margin: 26px 0 20px 0;
}

.tenfold-title {
    font-size: 50px;

}

.tenfold-title-container {
    display: flex;
    justify-content: center;
}

.tenfold-block-update {
    width: 300px;
    line-height: 30px;

}

.tenfold {
    padding: 154px;
}

.tenfold-block-manages {
    margin: 50px 0 35px 0;
}

.tenfold-block-link {
    margin-top: 25px;
}

.tenfold-blocks {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.tenfold-block div img {
    display: flex;
}

.tenfold-block {
    margin: 0 70px;
}

.tenfold-image {
    height: 200px;
}

.Lokalise-section {
    background: #C9E8F2;
    padding: 53px 0 90px 0;
}

.lokalise-img {
    height: 310px;
    width: 310px;
}

.lokalise-lokalise p {
    max-width: 830px;
    font-size: 30px;
    line-height: 40px;
}

.lokalise {
    display: flex;
    justify-content: space-between;
    padding: 0 300px;

}

.lokalise-texts {
    margin-right: 90px;
}

.localise-edward p {
    font-size: 15px;
    margin: 23px 0 10px 0;
}

.software-section {
    background: #DABC98;
    padding: 80px 0;
}

.software-text h2 {
    font-size: 35px;
    line-height: 50px;
    max-width: 461px;
}

.software-blocks {
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
    align-items: center;
}

.rating {
    display: flex;
}

.rating i {
    font-size: 18px;
    transition: .3s;
    cursor: pointer;
    margin: 0 1px;
}

.rating i:hover {
    color: black;
}

.rating span {
    font-size: 28px;
}

.rating span:hover {
    color: #000;

}

.rating {
    unicode-bidi: bidi-override;
    direction: ltr;
}


.software-stars {
    margin: 20px 0 15px 0;


}

.software-title-logo {
    padding: 0 70px;

}

.software-blocks-logo {
    display: flex;

}

/*.software-line{*/
/*    background: black;*/
/*    width: 1px;*/
/*    height: 168px;*/
/*}*/
.software-blocks-logo {
    position: relative;
}

.software-blocks-logo:before {
    position: absolute;
    content: "";
    background: black;
    width: 1px;
    height: 168px;
    left: 0;
    top: -25px;
}

.bird-integrate h2 {
    font-size: 65px;
    line-height: 75px;
    max-width: 800px;
    text-align: center;
    text-align-last: center;
}

.bird-automate p {
    font-size: 25px;
    line-height: 30px;
    max-width: 539px;
    text-align: center;
    text-align-last: center;
}

.bird-button {
    background: #FF6336;
    padding: 20px;
    border: 1px solid #FF6336;
    color: white;
}

.bird-button:hover {
    background: black;
    border: 1px solid black;
}

.bird {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bird-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bird-img {
    margin: 40px 0;
}

.bird {
    padding: 165px 0 158px 0;
}

.easy-section {
    background: #FF9C7D;
}

.easy {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px;
}

.easy-text-local h2 {
    display: flex;
    font-size: 65px;
    line-height: 75px;
    max-width: 784px;
    text-align: center;
    text-align-last: center;
}

.easy-text p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-align-last: center;
    margin: 30px 0 54px 0;
}

.easy-button {
    background: #000;
    color: white;
    padding: 20px 50px;
}

.easy-button:hover {
    background: none;
    border: 1px solid black;
}

.case-text-studies h2 {
    font-size: 40px;
}

.case-text-block-riding p {
    font-size: 20px;
    line-height: 30px;
    max-width: 290px;
    padding: 10px 0 15px 0;
}
.case-text-block-link{
    padding-bottom: 95px;
}
.case-text-block-link a {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.case-texts {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.footer-list {
    font-weight: bold;
    font-size: 20px;

}

.footer-list li {
    font-weight: normal;
    font-size: 15px;
    padding: 0 0 10px 0;
    list-style: none;
}

.footer-list li:first-child {
    margin-top: 20px;
}

.case-section{
    padding: 92px 0;

}

.case-img {
    padding: 30px 0;
}

.case-description {
    display: flex;
    margin: 0 50px;

}

.case-description-blocks {
    padding: 0 60px;
}

.case-container {
    display: flex;
    justify-content: center;
    padding: 0 20px;

}
.footer-container{
    display: flex;
    justify-content: center;
}
.footer-line{
    background: black;
    width: 80%;
    height: 1px;

}
.footer-container-info{
    display: flex;
    justify-content: space-between;
    padding: 52px 0 0 0;
}
.footer-wrapper{
    max-width: 1460px;
    margin: 0 auto;
}

.footer-text{
    display: flex;
}
.footer-localization{
    padding: 0 0 0 15px;
}
.footer-localization p{
    max-width: 350px;
    font-size: 16px;
    line-height: 19px;
}
footer{
    background: #eee;
}